<! doctype html>

<html>
  <head>
    <title>Test Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devide=width, initial-scale=1.0">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
  </head>
  <body>
    Begin here (or replace this with any static code already written).

    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
