a {
  text-decoration: none;
  color: inherit;
}

.jumbotron {
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.navbar-logo a {
  font-size: 36px;
}

.tabbar ul {
  display: table;
  width: 100%;
  background: #003399;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tabbar li {
  display: table-cell;
}

.tabbar .active {
  background-color: #002266;
}

.tabbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

