.navbar {
  margin-bottom: 0;
}

.navbar-default {
  margin: 0;
}

.navbar-nav {
  display:table;
  width:100%;
  margin: 0;
}

.navbar-nav > li {
  float:none;
  display:table-cell;
  text-align:center;
}

.navbar-nav > li > a {
  height: 50px;
}

.navbar-nav > li > a > span {
  vertical-align: middle;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
}
